# Ignore JSON linting for Django-templated notification payloads
project_rokto/project_rokto/templates/notifications/push/donor_invite.json
project_rokto/project_rokto/templates/notifications/push/emergency_request.json
