{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}
  {% trans "Sign In" %}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h2 class="card-title text-center">{% trans "Sign In with Email" %}</h2>
            <form class="login" method="post" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form|crispy }}
              {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="d-grid gap-2">
                <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
              </div>
              <div class="text-center mt-2">
                <a class="button secondaryAction small"
                   href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              </div>
            </form>
            {% include "users/_social_auth_links.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
